* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.wrap {
	padding:30px 16px 30px 16px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	width: 600px;
	display: flex;
	background:#ffffff;
	border-radius: 3px;
}
.main-nav{
	display: flex;
	flex-direction:column;
	flex: 0.3 0;
}
.main-nav:hover{
	color:#fff;
	background: black;
}
.container{
	display: flex;
	flex-direction:column;
	flex-grow: 0.7 0;
}
body{
	background:#455A64;
}
.blog{
	overflow-y:  scroll;
	height:160px;
}

.main-nav a{
	display:inline-block;
	margin-bottom: 8px;
	margin-right:16px;
	text-decoration:none;
	padding: 5px 10px 5px 10px;
	color:#fff;
	background: #4484FF;
	border-radius: 3px;
}

.main-nav a:hover{
	background:#2a59a6;
}